@import '../../shared/scss/vars';
@import '../../shared/scss/mixins';

.section-contact {
  background-color: $color-dark-gray;
  color: $color-white;

  @include slanty-thing;

  .section-stats {
    background-color: $color-gray;
    @include slanty-thing;
  }

  h1, h2, h3, h4, h5, p, a {
    color: $color-white;
  }
}

h2.section-about__heading {
  @include element-appear-resting;
  .in-view & {
    @include element-appear-in();
  }
}

.elsewhere-links {
  @include element-appear-resting;
  .in-view & {
    @include element-appear-in(.3s);
  }
}

.link-icon,
.link-icon svg {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.link-icon {
  opacity: .75;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
    transition: opacity .3s;
  }
}

.link-github svg {
  transform: scale(.9);
}

.link-linkedin svg {
  transform: scale(1.1);
}

.get-in-touch {
  margin-top: 10px;

  @include element-appear-resting;
  .in-view & {
    @include element-appear-in(.6s);
  }
}
